/*
 |-----------------------------------------------------------------------------
 | Import the essentials libraries
 |-----------------------------------------------------------------------------
 |
 */
// bootstrap
@import "bootstrap/bootstrap.less";
@import "animate/animate.less";

// font-awesome
@import "font-awesome/font-awesome.less";

// all base variables
@import "variables.less";

// all mixins
@import "mixins.less";

/*
 |-----------------------------------------------------------------------------
 | Default for all pages
 |-----------------------------------------------------------------------------
 |
 */
body {
    background: #333;
}
#wrapper {
    background: #fff;
}
.navbar {
    padding: 20px 0;
    background: transparent url('../images/navbar.png');
    .navbar-nav > li > a {
        font-size: 1.1em;
        font-family: Lato, Trebuchet MS, Tahoma, sans-serif;
        font-weight: 400;
        color: #ccc;
    }
    .navbar-brand {
        font-size: 1.7em;
        font-weight: 300;
        color: #fff;
        border-right: 1px solid #333;
    }
}

.flash-message {
    padding: 30px 0;
    border-radius: 0;
    z-index: 10000;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    i, ul i {
        margin: auto 20px auto 20px;
        font-size: 1.2em;
    }
    p, li {
        font-size: 1.1em;
        color: #fff;
    }
}
.flash-message.alert-error {
    background: darken(#f60, 15%);
}
.flash-message.alert-success {
    background: darken(@champ-button-color, 15%);
}

// when user is logged, this less come to action
#user-options {
    img {
        margin-right: 10px;
        border-radius: 3px;
        border:1px solid #000;
    }
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background: rgba(0,0,0,0.3);
    border-radius: 3px 3px 0 0;
}

// all titles beyond home follow this pattern
.featured-title {
    background: #fff url('../images/banner.jpg') 50% 30% no-repeat;
    padding: 120px 0 40px 0;
    color: #fff;
    h2 {
        font-size: 2.6em;
        font-family: Lato, Trebuchet MS, Tahoma, Arial, sans-serif;
        font-weight: 100;
    }
}
.sub-page {
    padding: 20px 0 20px 0;
}
#footer {
    background-image: linear-gradient(to bottom, #222, #333);
    padding-top: 20px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    ul {
        list-style: none;
        padding: 0 0 0 10px;
        li {
            a {
                display: block;
                color: #fff;
                padding: 10px 3px;
            }
        }
    }
    .rights {
        text-align: center;
        margin: 20px 0 40px 0;
    }
}