.navbar {
    padding: 20px 0;
    background: transparent url('../images/navbar.png');
}
#footer {
    background-image: linear-gradient(to bottom, #222, #333);
    margin-top: 30px;
    padding-top: 20px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    ul {
        list-style: none;
        padding: 0 0 0 10px;
        li {
            a {
                color: #fff;
            }
        }
    }
    .rights {
        text-align: center;
        margin: 20px 0 40px 0;
    }
}