#championship {
    .create-button {
        .champ-button(#5597fb, 20px, 20px);
    }
}

#champ-create {
    background-color: #f1f1f1;
    > .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-form, .side-form {
        background: #fff;
        padding: 20px 20px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .champ-button {
        margin-top: 20px;
        .champ-button(@champ-button-color, 10px, 30px);
    }
}