#championship {
    .create-button {
        .champ-button(#5597fb, 20px, 20px);
    }
    .main-champ {
        margin-top: 20px;
        margin-bottom: 20px;
        figure {
            position: relative;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto
            }
            &:hover figcaption {
                display: block;
            }
            figcaption {
                display: none;
                padding: 20px;
                background: transparent url('../images/navbar.png');
                color: #fff;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                h2 {
                    margin: 0;
                }
            }
        }
    }
}

#champ-create {
    background-color: #f1f1f1;
    > .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-form, .side-form {
        background: #fff;
        padding: 20px 20px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .champ-button {
        margin-top: 20px;
        .champ-button(@champ-button-color, 10px, 30px);
    }
}