.featured-title {
    background: #333;
    padding: 120px 0 40px 0;
    color: #fff;
    h2 {
        font-size: 2.6em;
        font-family: Lato, Trebuchet MS, Tahoma, Arial, sans-serif;
        font-weight: 100;
    }
}

.piece {
    h3 {
        font-size: 1.4em;
        color: #009e60;
    }
    p {
        font-size: 1.2em;
    }
}

.nav-tabs > li > a {
    padding: 15px;
    font-size: 1.2em;
    color: #009e60;
}